{% extends model('component') %}

{% define config = {
    name: 'payone-credit-card',
    tag: 'payone-credit-card'
} %}

{% define data = {
    form: required,
    scriptSrc: 'https://secure.pay1.de/client-api/js/v1/payone_hosted_min.js'
} %}

{% define attributes = {
    'form-selector': '[name="paymentForm"]',
    'current-payment-method-selector': '[name="paymentForm[paymentSelection]"]:checked',
    'card-type-selector': '#paymentForm_payoneCreditCard_cardtype',
    'card-holder-selector': '#paymentForm_payoneCreditCard_cardholder',
    'client-api-config-selector': '#paymentForm_payoneCreditCard_payone_client_api_config',
    'language-selector': '#payoneCreditCard_clientLanguageCode',
    'pseudo-card-pan-selector': '#paymentForm_payoneCreditCard_pseudocardpan',
    'error-container-selector': '#errorOutput'
} %}

{% block body %}
    {% include molecule('script-loader') with {
        attributes: {
            src: data.scriptSrc
        }
    } only %}

    <div class="payment-form-inner grid">
        <div class="form__field col col--sm-12 col--lg-6">
            <label class="label label--required" for="cardtypeInput">{{ 'Payone_credit_card.cardtype' | trans }}</label>
            <span id="cardtype"></span>
        </div>

        <div class="form__field col col--sm-12 col--lg-6">
            {{ form_row(data.form.payoneCreditCard.cardholder, {
                label: 'Payone_credit_card.cardholder',
                attr: {
                    placeholder: 'checkout.step.payment.cardholder_name' | trans,
                }
            }) }}
        </div>

        <div class="form__field col col--sm-12 col--lg-6">
            <label class="label label--required" for="cardpanInput">{{ 'Payone_credit_card.cardpan' | trans }}</label>
            <span id="cardpan"></span>
        </div>

        <div class="form__field col col--sm-12 col--lg-6">
            <label class="label label--required" for="expireInput">{{ 'Payone_credit_card.cardexpiredate' | trans }}</label>
            <div id="expireInput" class="grid">
                <div class="col col--sm-6 spacing-right--inner">
                    <span id="cardexpiremonth"></span>
                </div>
                <div class="col col--sm-6 spacing-left--inner">
                    <span id="cardexpireyear"></span>
                </div>
            </div>
        </div>

        <div class="payment-form-inner__top-indent-negative form__field col col--sm-12 col--lg-6">
            <label class="label label--required" for="cvcInput">{{ 'Payone_credit_card.cardcvc2' | trans }}</label>
            <span id="cardcvc2"></span>
        </div>

        <div class="form__field col col--sm-12 text-alert" id="errorOutput"></div>
    </div>

    {{ form_widget(data.form.payoneCreditCard.payone_client_api_config) }}
    {{ form_widget(data.form.payoneCreditCard.pseudocardpan) }}
    <input type="hidden" id="payoneCreditCard_clientLanguageCode" name="payone_client_lang_code" value="{{ app.locale }}" />
{% endblock %}
