<div class="payment-subform payone-form payone-eps-online-transfer-form payment-form" id="payoneEpsOnlineTransfer">
    <div class="field">
        {{ form_widget(form.payoneEpsOnlineTransfer.onlinebanktransfertype) }}
    </div>

    <div class="field">
        {{ form_widget(form.payoneEpsOnlineTransfer.bankcountry) }}
    </div>

    {% if form.payoneEpsOnlineTransfer.bankgrouptype is defined %}
        <label>{{ 'Payone_eps_online_transfer.BankGroupType' | trans }}</label>
        <div class="field">
            {{ form_widget(form.payoneEpsOnlineTransfer.bankgrouptype, { 'attr': {'placeholder': 'Payone_eps_online_transfer.bankgrouptype' | trans } }) }}
            {{ form_errors(form.payoneEpsOnlineTransfer.bankgrouptype) }}
        </div>
    {% endif %}

    {{ form_errors(form) }}
</div>
